@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background-color: #003049;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("hi.png");
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}
.btnlog{
  color:#e9ecef ;
  background-color: #003049;
  padding-right: 50%;
  padding-left: 50%;
  margin-top: 50px;
  text-align: center;
  width:20px;
}
.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
 --PrimaryColor:hsl(199,100%,33%);
 --SecondaryColor:hsl(187,85%,43%);
 --gradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
 --whiteColor:hsl(0,0%,100%);
 --blackColor:hsl(201,33%,16%);
 --textColor:hsl(240,4%,36%);
 --whiteColorDeam:hsl(0,0%,93%);
 --greyText:rgb(190,190,190);
 --inputColor:rgb(239,239,239);
 --bodyColor:rgb(240,240,246);
 --cardBG:rgb(225,225,235);
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: .6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover{
  background: var(--SecondaryColor);
}

img,video{
  width: 100%;
  height: auto;
}
input{
  font-size: 100%;

}
body{
  background: var(--bodyColor) ;
}