/* The container must be positioned relative: */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#select{
    max-width: 978px;
    width: 150px;
    height:25px;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: white;
}